:root {
  --primary-color: #d0021b;
  --primary-color-lighten: #fc112d;
  --primary-color-darken: #bd0117;

  --primary-font-color: #fff;

  --secondary-color: #14bbf4;
  --secondary-color-lighten: #42c8f6;
  --secondary-color-darken: #0998c9;

  --secondary-font-color: #fff;
  --secondary-font-color-darken: #e5e5e5;

  --base-theme-primary-color: #d0021b;
  --base-theme-secondary-color: #14bbf4;
  --base-theme-secondary-color-darken: #0998c9;

  --information-color: #14bbf4;
  --error-color-lighter: #fce9eb;
  --error-color: #e42332;
  --dark-red-color: #d0021b;
  --pending-color: #f5a623;
  --success-color: #2ed473;
  --success-color-darken: #259c03;

  --warning-color: #fef8ed;
  --warning-color-dark: #f5aa1c;

  --font-color-warning: #f9b200;

  --focus-color: #e6f8ff;

  --font-color: #4e4e4e;
  --font-color-disabled: #b7b7b7;
  --font-color-subtle: #c3c3c3;
  --font-color-subtitle: #7f7f7f;
  --font-color-light: #9b9b9b;

  --color-gray: #9b9b9b;

  --color-input: #d8d8d8;

  --border-color: #c3ced4;

  --btn-cancel-color: #d8d8d8;
  --btn-cancel-hover-color: #b2b2b2;

  --input-disabled-bg-color: #f7f8fA;
  --input-border-color: #dfe5e8;
  --input-disabled-border-color: #e1e8eb;

  --input-icon-color-disabled: #7b7b7b;
  --input-hover-color: #dfe5e8;

  --hover-bg-color: #f5f8f9;

  --header-color: #f8f8f8;
}
