
$color-input: var(--color-input);

$border-color: var(--border-color);

$input-border-color: var(--input-border-color);
$input-hover-color: var(--input-hover-color);

$input-icon-color-disabled: var(--input-icon-color-disabled);
$input-disabled-bgcolor: var(--input-disabled-bg-color);

